<a href="https://colab.research.google.com/github/saguileran/ETITC-2024-2/blob/main/DataStrucutre/Arreglos_y_Cadenas_en_Java.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Introducción a cadenas (strings) y arreglos (arrays)

## Introducción

Este notebook contiene los códigos básicos sobre arreglos y cadenas. Las clases y líneas de código salen del libro [Y. Daniel Liang - Introduction to Java Programming and Data Structures, Comprehensive Version-Addison Wesley (2019)](https://itceduco-my.sharepoint.com/:b:/g/personal/saguileran_itc_edu_co/EaMiXGCQgoVAlOGW07oaaKIBPyv4wk3-iXytjKWVKQ1H0g?e=v5oBqt).

## Cadenas

Capítulo 4.4 del libro guia.

In [ ]:
import java.util.Scanner;
Scanner input_name = new Scanner(System.in);
String name = input_name.nextLine();
String message1 = "Welcome to Java ";
String message2 = ". Data structures course.";
System.out.println(message1+name+message2);

sebas tian
Welcome to Java sebas tian. Data structures course.

In [ ]:
"     sebas.     ".trim();

sebas.

In [ ]:
String message = "Welcome to Java";
System.out.println("The length of " + message + " is "+ message.length());
String total_text = message1.concat(name).concat(message2);
System.out.println(total_text);
total_text += " System Engineering, 2024.";
System.out.println(total_text);
int i = 1, j=2;
System.out.println("Selected numbers "+i+j);
System.out.println("Selected numbers "+(i+j));

System.out.println("\t Selected numbers\nasdas");

The length of Welcome to Java is 15
Welcome to Java Sebastián. Data structures course.
Welcome to Java Sebastián. Data structures course. System Engineering, 2024.
Selected numbers 12
Selected numbers 3
	 Selected numbers
asdas

In [ ]:
Scanner input = new Scanner(System.in);
System.out.print("Enter three words separated by spaces: ");
String s1 = input.next();
String s2 = input.next();
String s3 = input.next();
System.out.println("s1 is " + s1);
System.out.println("s2 is " + s2);
System.out.println("s3 is " + s3);
System.out.println(s1+" "+s2+" "+s3);

Enter three words separated by spaces: Sebastián Aguilera Novoa
s1 is Sebastián
s2 is Aguilera
s3 is Novoa
Sebastián Aguilera Novoa

In [ ]:
int integer1 = input.nextInt();
System.out.println("The number you entered is:"+integer1 )

727578
The number you entered is:727578

In [ ]:
Scanner input = new Scanner(System.in);
System.out.print("Enter a character: ");
String s = input.nextLine();
char ch = s.charAt(0);
System.out.println("The character entered is " + ch);

Enter a character: Sebastián Aguilera Novoa
The character entered is S

In [ ]:
//System.out.println(s.contains("tián"));
String s1 = "Welcome to Java", s2 = "Welcome to java", s3 = "Welcome to C++";
System.out.println(s1.equalsIgnoreCase(s2)); // true
System.out.println(s1.equals(s3)); // false

true
false

In [ ]:
import java.util.Scanner;

public class OrderTwoCities {
  public static void main(String[] args) {
  Scanner input = new Scanner(System.in);

  // Prompt the user to enter two cities
  System.out.print("Enter the first city: ");
  String city1 = input.nextLine();
  System.out.print("Enter the second city: ");
  String city2 = input.nextLine();

  if (city1.compareTo(city2) < 0){
  System.out.println("The cities in alphabetical order are " + city1 + " " + city2);}
  else{
  System.out.println("The cities in alphabetical order are " + city2 + " " + city1);}
  }
}
// built in
OrderTwoCities Ordering = new OrderTwoCities();
Ordering.main(new String[] {});

Enter the first city: Gachala
Enter the second city: Zoacha
The cities in alphabetical order are Gachala Zoacha

In [ ]:
String message = "Welcome to Java";
String sub_message = message.substring(8) + " HTML";
System.out.println(message);
System.out.println(message.indexOf("me"));
System.out.println(message.lastIndexOf(" "));
int k = message.indexOf(" ");
String firstName = message.substring(0, k);
String lastName = message.substring(k + 1);
System.out.println(firstName);
System.out.println(lastName);

Welcome to Java
5
10
Welcome
to Java

Agregar los códigos de uno de los ejercicios (4.4.1, 4.4.2, 4.4.3, 4.4.4, 4.4.5)

In [ ]:
String set2 =
" 2 3 6 7\n" +
"10 11 14 15\n" +
"18 19 22 23\n" +
"26 27 30 31";
System.out.println(set2)

 2 3 6 7
10 11 14 15
18 19 22 23
26 27 30 31

In [ ]:
int count = 5;
double amount = 45.56;
System.out.printf("count is %d and amount is %5.2f", count, amount);

count is 5 and amount is 45.56

java.io.PrintStream@9b01416

Deben resolver alguno de estos problemas utilizando clases, métodos, arreglos y cadenas, los que estan en el capítulo 4 del libro guia y que usamos en este notebook. La idea es que hagan por lo menos dos de los tres problemas y los suban al campus virtual, ya les habilite una tarea para ello.

- [rotate-string](https://www.codeabbey.com/index/task_view/rotate-string)
- [palindromes](https://www.codeabbey.com/index/task_view/palindromes)
- [reverse-string](https://www.codeabbey.com/index/task_view/reverse-string)

## Arreglos (Arrays)

In [ ]:
double[] myList = new double[10];
myList[0] = 5.6;
myList[1] = 4.5;
myList[2] = 3.3;
myList[3] = 13.2;
myList[4] = Double.parseDouble("1");
myList[5] = 34.33;
myList[6] = 34.0;
myList[7] = 45.45;
myList[8] = 99.993;
myList[9] = 11123;
//myList.getClass();
System.out.println(myList[4])

1.0

In [ ]:
double[] myList  = new double[20]; //= {"1","23","4","5","6"};
for (int i = 0; i < myList.length; i++) {
  myList[i] = i;
  System.out.println(myList[i]);
  }

0.0
1.0
2.0
3.0
4.0
5.0
6.0
7.0
8.0
9.0
10.0
11.0
12.0
13.0
14.0
15.0
16.0
17.0
18.0
19.0